.app-box {
  position: relative;
  background-color: #4a90e2;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('../../../src/main.jpg');
}

.main-logo {
  height: 30rem;
}

.main-logo img {
  opacity: 0.15;
}

.text-box {
  color: white;
  position: absolute;
  font-family: cursive;
  font-weight: 600;
}

.text-box span {
  width: 100%;
  font-size: 1.5rem;
  color: white;
  opacity: 0.7;
  font-family: cursive;
  margin-top: 5px;
  font-weight: 400;
}
img.logo-test{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 1;
	height: 9rem;
}
