.main-container {
  max-height: 100vh;
  height: 100vh;
}

#allmap {
  height: 100vh;
}

.head-form {
  z-index: 1;
  background-color: white;
  width: auto;
  min-width: 200px;
  left: 8%;
  top: 2%;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, .15);
}

.poidetail {
  display: none !important;

}

.circle-marker {
  position: absolute;
  z-index: -7982820;
  width: 70px;
  height: 70px;
  opacity: .7;
  background-position: 0% 50%;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-image: url("http://api0.map.bdimg.com/images/marker_red_sprite.png");
}

.circle-marker-child {
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: relative;
  margin-top: 25px;
  margin-left: 1px;
}