.main-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.iconfont {
  height: auto;
  vertical-align: middle;
  padding-top: 5px;
}

.main-container {
  max-height: 100vh;
  height: 100vh;
}

#allmap {
  height: 100vh;
}

.head-form {
  z-index: 1;
  background-color: white;
  width: 350px;
  left: 20px;
  top: 60px;
  position: absolute;
  box-sizing: border-box;
  /* box-shadow: 1px 2px 1px rgba(0, 0, 0, .15); */
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.poidetail {}

.more-content {
  width: 100%;
  box-shadow: 0 -2px -2px rgba(0, 0, 0, .15);
}

.more-content .img-h {
  height: 6rem;
  width: auto;
  margin-left: 10px;
}

.more-content li {
  border-bottom: 1px solid #eaeaea;
  margin: 0px 15px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.more-setting {
  margin-left: 20px;
}

.notice-box .title {
  max-width: 40%;
  margin-right: 10px;
}

.circle-marker {
  position: absolute;
  z-index: -7982820;
  width: auto;
  height: auto;
  opacity: .7;
  /* background-size: cover; */
  cursor: pointer;

}



.triangle {
  width: 150px;
  height: 35px;
  position: relative;
  margin: 30px auto 0;
  background-color: #faf8f3;
  border: 2px solid #fbe2a0;
  border-radius: 5px;
}

.triangle::after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -4px;
  left: 8px;
  transform: rotate(135deg);
  background-color: #faf8f3;
  border: 2px #fbe2a0;
  border-style: solid solid none none;
}

.circle-marker-child {
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: relative;
  margin-top: 25px;
  margin-left: 1px;
}

.search-box {
  height: 44px;
  line-height: 44px;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, .15); */
  padding: 0px 0px;
  background-color: white;
}

.init-address:focus {
  border: 0px solid white;
  box-shadow: 0px 0px 0px;
  border-bottom-width: 0px;
}

.init-address {
  box-shadow: none;
  border: 0px;
  width: 100%;
  margin-left: -40px;
  padding-left: 45px;
  height: 50px;
  line-height: 50px;
}

.notice-box {
  /*background: #3d93fd;*/
  background-color: white;
  ;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  /*color: #E1F1FF;*/
  color: #333;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px 15px;
  z-index: 9;
  height: 40px;
  line-height: 1.2rem;
  font-size: 1rem;
  justify-content: center;
}

.notice-box .title {
  margin: 0px 15px 0px 5px;
}

.default .notice-box {
	    height: 30px;
    background-color: #ffffff00;
    box-shadow: 0px 0px 0px;
    color: #333333bf;;
}

.default .right-bar i {
  font-size: 1.8rem;
  padding-top: 5px;
}

.default .default-bar li {
  margin-top: 0px;
}

.right-bar {
  color: #fff;
  background: hsla(0, 0%, 100%, .6);
  position: absolute;
  right: 20px;
  margin: 0px;
  top: 60px;
  z-index: 1;
  height: 44px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
  font-family: Arial, sans-serif;
  font-size: 1.17rem;
  padding: 0px 0px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 30vw;
  display: block;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
  border-radius: 5px;
  padding: 18px 0px;
  height: auto;
  background-color: white;
  border-radius: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
  right: 5vw;
}

.right-bar li {
  flex: 1;
  border: 0px;
  margin: 10px 0px;
  text-align: center;
  padding: 0px 15px;
  opacity: 0.6;
  /* border-left: 1px #dbdee2 dashed; */
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  float: left;
  width: 33.3%;
  display: inline-block;
}

.right-bar li:nth-child(1) {
  /* border-left: 0px #dbdee2 dashed;*/
}

.right-bar span {
  width: auto;
  font-family: Arial, sans-serif;
  font-size: 1.17rem;
  color: #5f6477;
  width: 100%;
}

.default .right-bar span {
  width: auto;
  color: white;
}

.default .right-bar i {
  padding-right: 8px;
  display: inline;
  color: white;
}

.right-bar i {
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 500;
  padding-right: 5px;
  color: #5f6477;
  height: auto;
  vertical-align: middle;
  padding: 0px;
}


.right-bar.default-bar img {
  display: none;
}

.right-bar img {
  height: 2.9rem;
  width: auto;
  display: none;
}

.right-bar li.active {
  opacity: 1;
}

.search-btn {
  height: auto;
  border: 0px;
  width: 70px;
  height: 44px;
  text-align: center;
  background-color: #3d93fd;
  color: white;
  margin-left: 10px;

}

.default .message-box {
  background-image: linear-gradient(90deg, #184bc1, #184dc8, #1f4fbe, #184dc9);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  display: block;
width: 80vw;
background-color: #ffef43;
background-image: linear-gradient(90deg, #f5cd41, #efc329, #fec917, #f9c615);
left: 10vw;
top: 55vh;
max-height: 29vh;
padding-bottom: 0px;
}

.message-box {
  position: absolute;
  bottom: 0px;
  max-height: 60vh;
  z-index: 1;

  background-image: linear-gradient(90deg, #363d52, #363d52, #363d52, #363d52);
  height: 40vh;
  right: 0px;
  width: 30vw;
  padding: 10px 15px;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.message-box:before {
  /* content: '';
  background: hsl(0, 0%, 100%, 0.2);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1; */
}

.message-ul {}

.message-back {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  background-color: #7a7a7a;
  background: hsla(0, 0%, 0%, 0.4);
  border-radius: 25px;
  padding: 6px;
  font-weight: 600;
  font-size: 1rem;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  display: none
}

.message-ul .center {
  display: flex;
}

.message-img {
  width: auto;
  height: 6rem;
  margin-right: 0px;
  margin: 0 auto;
}

.message-ul li {
  position: relative;
  /* background-color: rgba(255, 255, 255, 0.59); */
  /* background: hsla(0, 0%, 0%, 0.4); */
  border-radius: 0px;
  background-color: white;
  padding: 0px;
  margin: 10px 0px;
  font-weight: 400;
  color: #000000;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 100%;
  float: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.message-ul .frist {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  color: white;
  margin: 5px -10px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 0px;
}
.default .message-ul .frist{
    color: black;
    margin-bottom: 10px;
    width: 100%;
	  border-bottom: 1px solid black;
    padding: 10px 0px;
}
.default .message-ul li{
    margin: 0px 2%;
    width: 20%;
}
.message-ul .frist .strong {
  background-color: rgb(255, 255, 255);
  padding: 0px 5px;
  color: #333;
  position: relative;
  margin: 0px 5px;

}

.message-ul .frist .strong::before {
  content: '';
  position: absolute;
  top: -25px;
  width: 100%;
  height: 25px;
  background-color: #ffffff;
  left: 0px;
}

.message-ul .frist .strong::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  border: 20px solid #ffffff;
  border-bottom-color: transparent;
  /* content: '书签'; */
  z-index: -1;
  width: 0;
}

.message-box .content {
  font-weight: 400;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: #000000;
  line-height: inherit;
  min-height: inherit;
  min-width: 30%;
  padding: 5px;
}
.default .message-img{
	    height: 10rem;
}
.default .message-box .content{
    width: 100%;
}
.message-box .content2 {
  font-weight: 400;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: #000000;
  line-height: inherit;
}

.message-box .head-title {}

.message-ul li .name {
  font-weight: 400;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
}

.message-ul .num {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #FF9800;
  border-radius: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -10px;
  text-align: center;
  line-height: 2.1rem;
  top: -10px;
  color: white;
  display: none;
}

.r-content {
  position: absolute;
  height: 100vh;
  top: 0px;
  width: 30%;
  background: hsla(0, 0%, 100%, 1);
  right: 0vw;
  border-radius: 5px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-image: linear-gradient(90deg, #ffcd54, #fecc53, #fec551, #fabe4c);
  overflow: hidden;
  box-shadow: -4px 1px 7px 1px rgba(0, 0, 0, .15);
}

.r-content-bg {
  height: 100vh;
  width: 60vw;
  position: absolute;
  top: 40vh;
  right: -35vw;
  transform: rotate(-45deg);
  background-image: repeating-linear-gradient(00deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5) 10px, transparent 0, transparent 30px);
}

.message-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  flex-flow: row-reverse wrap;
}


.message-bg li {
  border-left: 1px double white;
  width: 1px;
  height: 100%;
  flex: 1;
  width: 1px;
  height: 100%;
  flex: 1;
  border-left: 1px dashed #ffffff5c;
  height: 100%;
}

.message-bg li:last-child {
  border-left: 0px dashed #ffffff5c;
}

.default  .r-content {
  height: 40vh;
  top: 26vh;
  width: 50vw;
  background: hsla(0, 0%, 100%, 0.9);
  right: 25vw;
  border-radius: 5px;
  display: none;
}

.default .tool-bar{
  width: 45%;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px;
  left: 10%;
	transform: translateX(0px);
	top: 20%;
}

.tool-bar.default-bar .search-btn {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
  color: #333;
  /* border-left: 2px solid #3333337d; */
  line-height: 25px;
  font-weight: 600;
  padding-top: 3px;
  line-height: 44px;

}
.default .new-swiper{
	    display: block;
    position: absolute;
    width: 80%;
    top: 28%;
    left: 10%;
}
.default .new-swiper .tip{
	    color: #333;
    position: relative;
    top: 0px;
    position: relative;
}
.tool-bar.default-bar .more-content {

  background-color: white;

  margin-top: 15px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.default .tool-bar .search-box {

  border-radius: 0px;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid #727272;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.tool-bar.default-bar input {
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.default .right-bar {
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 0px;
    top: 30px;
    width: 100%;
    padding: 0% 20%;
    text-align: center;
    border-radius: 0px;
    display: flex;
    height: 44px;
	  background-image: linear-gradient(90deg, #0a8ee8, #0884e5, #0878da, #066fd3);
	  border-right: 100px solid #ffef43;
}

.right-bar.default-bar li {
  width: auto;
  float: none;
  display: flex;
  margin-bottom: 0px;

}

footer {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  left: 0px;
  width: 100%;
  /* background-color: #333; */
  display: none;
}

.nav-swiper {
  height: 14px;
  overflow: hidden;
}

.head-img {

  height: 35px;

  width: 35px;

  line-height: inherit;

  border-radius: 40px;

  min-width: 35px;

  margin-left: 5px;
}

.mobile-bg {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #262d41;
  position: absolute;
  top: 0px;
}

.head-bg {
  display: none;
}

.new-swiper {
  display: none;
}

.swiper-wrapper {
  height: auto !important;
}

.new-swiper .swiper-container {
  direction: ltr;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.new-swiper .swiper-slide {
  background-color: white;
  padding: 10px 12px;
  width: 60%;
  border-radius: 5px;
  transition: 300ms;
  -webkit-transition: 300ms;
  transform: scale(0.8);
  height: auto !important;

}

.new-swiper .swiper-slide-active,
.swiper-slide-duplicate-active {
  transform: scale(1.0);
}

.new-swiper .head {}

.new-swiper .img-w {
  height: 8rem;
  margin: 10px 0px;
}

.new-swiper .btn {
  min-width: 100px;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 0.9rem;
  line-height: 25px;
  height: 25px;
}

.head-bg img {
  -webkit-filter: blur(2px);
  /* Chrome, Opera */
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.small-img {
  height: 2rem;
  margin: 0px;
  width: auto;
  border-radius: 50px;
  border: 1px solid #7e7e7e;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  overflow: hidden;
  padding: 2px;
  margin-right: 5px;
}

.new-swiper .head .name {
  color: #333;
}

.new-swiper .head h6 {
  font-size: 0.7rem;
  color: #2e2e2e;
  font-weight: 400;
}

.new-swiper .tip {
  position: absolute;
  width: 100%;
  top: -25px;
  padding: 0px 10px;
  left: 0px;
  z-index: 2;
}

.new-swiper .tip .small {
  float: right;

}

.more-function {
  padding: 15px 0px;
  position: absolute;
  display: none;
  transform: translateY(467px);
  width: 100%;
  z-index: 2;
  background-color: #ffffff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.001s linear;

}

.foggy-box {
  position: absolute;
  top: 0%;
  left: 0px;
  width: 100%;
}

.more-fun-animte {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.more-function .btn-array {
  position: relative;
  overflow: hidden;
}

.more-function .item {
  float: left;
  width: 25%;
  text-align: center;
  margin: 5px 0px;
}

.more-function .item img {
  height: 4rem;
  width: auto;
  margin-bottom: 5px;

}

.more-function .head {
  padding-left: 15px;
}

/* 小屏幕的适配 */
@media (max-width: 568px) {
  .more-function {
    display: block;
  }

  .search-btn {
    background-color: #ffffff;
    color: #333;
  }

  .new-swiper {
    display: block;
    height: auto;
    position: absolute;
    top: 220px;
    background-color: #f0f0f0;
    width: 100%;
    padding: 10px 0px;
    overflow: inherit;
    overflow-x: hidden;
    background-color: #262d4100;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .15);
    width: 92%;
    margin-left: 4%;
  }

  .message-box.default {
    display: none;
  }

  .right-bar.default-bar {
    top: 90px;
    width: 100%;
  }

  .right-bar.default-bar li {

    width: 25%;
    display: inline-block;
    border: 0px;
    float: left;
    opacity: 1;
    padding-top: 15px;
  }

  .right-bar.default-bar img {
    height: 2.2rem;
  }

  .right-bar.default-bar span {
    font-size: 1rem;
    font-weight: 600;
  }

  .notice-box .title {
    max-width: 100%;
    width: 100%;
  }

  footer {
    background-color: rgba(0, 0, 0, 0);

  }

  footer span {
    color: white;
  }

  .notice-box {

    width: 96%;

    left: 2%;

    top: 55px;
  }

  .tool-bar.head-form {
    width: 96%;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    left: 2%;
    z-index: 3;
    top: 5px;
    transform: translateX(0%)
  }


  .message-box {

    height: 90px;

    width: 96%;

    right: 2%;

    bottom: 20px;
  }


  .init-address {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-left: -40px;
  }

  .footer-info {
    padding: 0px;
  }

  .message-ul li {
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  .message-img {
    width: 4rem;
    height: 4rem;
  }

  .head-form .search-box {

    background-color: rgb(255, 255, 255);

    height: 44px;

    line-height: 44px;
  }

  .right-bar.ul-array {
    background: #fff;
    color: #333;
    display: inline-block;
    min-width: 0.5rem;
    top: 86px;
    right: 2%;
    width: 96%;
    padding: 10px 0px;
    height: auto;
  }

  .right-bar.default-bar {
    background-color: rgba(0, 0, 0, 0);
    width: 92%;
    background: hsl(0, 0%, 100%);
    right: 4%;
  }


  .right-bar li {
    display: block;
    padding: 3px 0px;
    width: 40px;
    border-left: 0px #dbdee2 dashed;
  }

  .right-bar.ul-array span {
    width: 100%;
    margin-top: 0px;
    font-size: 1.1rem;
  }

  .right-bar img,
  .right-bar.default-bar img {
    height: 2.6rem;
    display: none;
    margin: 0px;
  }

  .right-bar i,
  .right-bar.default-bar i {
    padding-right: 0px;
    height: auto;
    font-size: 2.2rem;
    line-height: 2rem;
  }
}

/* 百度地图的样式修改 */
.BMap_cpyCtrl {
  display: none;
}

.anchorBL {
  display: none;
}

.info_windows_img {
  height: 8rem;
  width: auto;
}

.infoWin_box {
  width: 26rem;
}

.infoWin_box .content {

  line-height: 1.5rem;

  padding: 10px 0px;

  letter-spacing: 1px;
}

.BMap_pop>div>div {
  /*	border-color: #e9e9e9 !important;*/
}

.BMap_pop .BMap_top {
  /*	border-top: 1px solid #e9e9e9 !important;*/
}

.BMap_pop .BMap_center {
  /*border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;*/
}

.BMap_pop .BMap_bottom {
  /* border-bottom: 1px solid #e9e9e9 !important;*/
}

.tangram-suggestion-main {
  z-index: 9;
}