<!DOCTYPE html>
<html lang="zh-CN">
	<!-- 更加标准的 lang 属性写法 http://zhi.hu/XyIa -->

	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!-- 优先使用 IE 最新版本和 Chrome -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="不超过150个字符" />
		<!-- 页面描述 -->
		<meta name="keywords" content="" />
		<!-- 页面关键词 -->
		<meta name="author" content="name, email@gmail.com" />
		<!-- 网页作者 -->
		<meta name="robots" content="index,follow" />
		<!-- 搜索引擎抓取 -->
		<title></title>
		<link rel="stylesheet" href="//at.alicdn.com/t/font_719754_zteyssv62c.css" />

		<link rel="stylesheet" href="../../../plugin/layui/css/layui.css">
		<!--swiper的引用-->
		<link rel="stylesheet" href="../../../plugin/swiper/swiper.min.css" />
		<link rel="stylesheet" href="../../../plugin/linzesen/linzesen.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/detail.css" />
	</head>

	<body>
		<nav>

		</nav>
		<header class="flex container">
			<div class="header-logo">
				<div class="img-r">
					<img lay-src="//img.alicdn.com/tfs/TB1MaLKRXXXXXaWXFXXXXXXXXXX-480-260.png">
				</div>
			</div>
			<form class="flex-center search-form">
				<div class="box-searchInput">
					<input type="text" />
				</div>
				<button class="button">搜索	</button>
			</form>
		</header>
		<!--第一个的section-->
		<section class="section-1 container">
			<div class="banner-wrapper-l">
				<div class="swiper-container big-view  gallery-top">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="img-r">
								<img lay-src="../../../img/null-img.png" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="img-r">
								<img lay-src="../../../img/null-img.png" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="img-r">
								<img lay-src="../../../img/null-img.png" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="img-r">
								<img lay-src="../../../img/null-img.png" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="img-r">
								<img lay-src="../../../img/null-img.png" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="img-r">
								<img lay-src="../../../img/null-img.png" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="img-r">
								<img lay-src="../../../img/null-img.png" />
							</div>
						</div>
					</div>
					<!--  <div class="swiper-scrollbar"></div>-->

					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<div class=" gallery-thumbs-box  swiper-container ">

					<div class="swiper-container gallery-thumbs">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="img-r" style="width: 60px; height: 60px;">
									<img lay-src="../../../img/null-img.png" />1
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img-r" style="width: 60px; height: 60px;">
									<img lay-src="../../../img/null-img.png" />2
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img-r" style="width: 60px; height: 60px;">
									<img lay-src="../../../img/null-img.png" />3
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img-r" style="width: 60px; height: 60px;">
									<img lay-src="../../../img/null-img.png" />4
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img-r" style="width: 60px; height: 60px;">
									<img lay-src="../../../img/null-img.png" />5
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img-r" style="width: 60px; height: 60px;">
									<img lay-src="../../../img/null-img.png" />6
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img-r" style="width: 60px; height: 60px;">
									<img lay-src="../../../img/null-img.png" />7
								</div>
							</div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->

					</div>

					<div class="swiper-button-next" style="background-image: none;">
						<i class="layui-icon layui-icon-right"></i>
					</div>
					<div class="swiper-button-prev" style="background-image: none;">
						<i class="layui-icon layui-icon-left"></i>
					</div>
				</div>

			</div>
			<div class="banner-wrapper-r">

			</div>
			</div>
		</section>

		<section class="container">
			<div class="order-list-box flex-center">
				<ul class="order-list">
					<li>
						<a href="#">综合</a>
					</li>
				</ul>
				<ul class="type-list">
					<li></li>
				</ul>
			</div>
			<div class="goods-list-box">

				<ul class="goods-list row">
					<li class="goods-item col-lg-24 col-xs-6">
						<a href="#">
							<div class="img-r">
								<img lay-src="../../../img/null-img.png" />
							</div>
							<div class="res-info">
								<h5 class="title">zara夏季新品</h5>
							</div>
						</a>
					</li>
					<li class="goods-item col-lg-24  col-xs-6">
						<a href="#">
							<div class="img-r">
								<img lay-src="../../../img/null-img.png" />
							</div>
							<div class="res-info">
								<h5 class="title">zara夏季新品</h5>
							</div>
						</a>
					</li>
				</ul>

			</div>
		</section>
		<!--页脚-->
		<footer>

			<div class="footer-site flex  container">
				<div class="footer-l flex-center row flex-item">
					<dl class="col-lg-3">
						<dt>
		    				<a href="#">帮助中心</a></dt>
						<dd>
							<a href="#">账号管理</a>
						</dd>
					</dl>
					<dl class="col-lg-3">
						<dt>
		    			    <a href="#">服务支持</a></dt>
						<dd>
							<a href="#">售后服务</a>
						</dd>
					</dl>
				</div>
				<div class="footer-r">
					<h3>
						400-800-7087
					</h3>
				</div>
			</div>

			<div class="footer-info  container">

			</div>

		</footer>

		<!--js的引入-->
		<script src="https://cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
		<script>
			window.jQuery || document.write('<script  charset="utf-8" type="text/javascript"  src="../../../plugin/jquery/jquery.min.js"  >\x3C/script>')
		</script>
		<script src="../../../plugin/layui/layui.js" charset="utf-8"></script>
		<!--	<script type="text/javascript" src="../plugin/linzesen/linzesen.js"></script>-->
		<script type="text/javascript" src="../../../plugin/swiper/swiper.min.js"></script>
		<script>
			var galleryTop = new Swiper('.gallery-top', {
				//  spaceBetween: 10,
				slidesPerView: 1,
				//     loop:true,
				//    loopedSlides: 5, //looped slides should be the same

			});
			var galleryThumbs = new Swiper('.gallery-thumbs', {
				spaceBetween: 10,
				slidesPerView: 5,
				followFinger: false,
				observer: true, //修改swiper自己或子元素时，自动初始化swiper  
				observeParents: true, //修改swiper的父元素时，自动初始化swiper  
				//centeredSlides: true,
				// touchRatio: 0.2,
				//	     loop: true,
				//     loopedSlides: 5, //looped slides should be the same
				//	slideToClickedSlide: true,
				on: {
					init: function() {
						//Swiper初始化了
						//alert('当前的slide序号是' + this.activeIndex);
					},
				},
				navigation: {
					nextEl: '.gallery-thumbs-box .swiper-button-next',
					prevEl: '.gallery-thumbs-box .swiper-button-prev',
				},
			});
			//		    galleryTop.controller.control = galleryThumbs;
			galleryThumbs.controller.control = galleryTop;
			var divWidth = 0; //每个div宽度
			var resPlaceX = 0; //最终的位置X
			var moveDistance = 0; //移动的距离
			var startTranform = 0; //当前的transform值
			var startTranformStr = '' //transform字符串
			$(".gallery-thumbs  .swiper-slide").click(function(e) {
				var that = this;
				var active_index = $(".gallery-thumbs  .swiper-slide.swiper-slide-active").index();
				var that_index = $(that).index();

				//				galleryThumbs.slideTo(that_index, 1000, function() {

				//	}); //切换到第一个slide，速度为1秒
				$(".gallery-thumbs  .swiper-slide").eq(active_index).removeClass("swiper-slide-active");
				$(that).addClass("swiper-slide-active");
				if(that_index > 2) {
					debugger;

					var ev = e || event;
					var disX = ev.clientX - ev.offsetX; //当前div距离屏幕左边距离
					divWidth = $(this).width();
					resPlaceX = divWidth / 2;
					moveDistance = divWidth-10  + resPlaceX-5;
					if(active_index > that_index) {
						moveDistance = -moveDistance;
					}

					if((that_index + 3) >= $(".gallery-thumbs  .swiper-slide").length &&
						($(".gallery-thumbs  .swiper-slide").eq($(".gallery-thumbs  .swiper-slide").length - 3).offset().left - $(".gallery-thumbs ").offset().left) -
						$(".gallery-thumbs").width() / 2 < 0
					) {
						return;
					}

					startTranformStr = $('.gallery-thumbs .swiper-wrapper').get(0).style.transform;
					startTranform = startTranformStr.slice(startTranformStr.indexOf('(') + 1,
						startTranformStr.indexOf('px'));
					if(startTranform == '') {
						startTranform = 0
					};
					$('.gallery-thumbs  .swiper-slide').removeClass('font-red');
					$(this).addClass('font-red');
					$('.gallery-thumbs  .swiper-wrapper').css({
						'transform': 'translate3d(' + (parseInt(startTranform) + -moveDistance) + 'px,0,0)',
						'transition-duration': '1s'
					});
				}
			});

			//图片的懒加载
			layui.use('flow', function() {
				var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
				var flow = layui.flow;
				//当你执行这样一个方法时，即对页面中的全部带有lay-src的img元素开启了懒加载（当然你也可以指定相关img）
				flow.lazyimg();
				//按屏加载图片
			});
		</script>
	</body>

</html>