<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
  <link rel="stylesheet" href="//linkben.com/assets/plugin/linzesen/linzesen.css">
  <link rel="stylesheet" href="../src/index.css" />
  <script src="https://webapi.amap.com/maps?v=1.4.15&key=	15df44e41411723025c46d40030ebea7"></script>
  <script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
  </script>
  <title>首页,硇洲岛指南</title>
</head>

<body>
  <section class="main-container  ">
    <!-- 搜索框 -->
    <form class="tool-bar head-form col-xs-12">
      <article class="form-item flex-c">
        <input type="text" class="init-address" max="">
        <button class="search-btn">搜索</button>
      </article>
      <!-- 搜索框的详情的内容 -->
      <article class="flex-item poidetail flex-c">
        <span class="flex-item">
          <h3 class="poi-name">暂无姓名</h3>
        </span>
        <span class="poi-btn-array">
          <button class="to-address">到这去</button>
        </span>
        <div class="more-content">

        </div>
      </article>
    </form>
    <!-- 地图的div -->
    <div id="allmap"></div>
  </section>
</body>
<script src="../../../plugin//jquery/jquery.min.js"></script>
<script type="text/javascript" src="../src/amap.js"></script>
<script type="text/javascript">
  $(function () {
    active.init();
  });
</script>

</html>