<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1297612_1ai584ov7rqi.css">
  <link rel="stylesheet" href="//linkben.com/assets/plugin/linzesen/linzesen.css">
  <link rel="stylesheet" href="../src/index.css" />
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=1ALTaV0tWvwNHFeCa4qsQMyAd9UYalwj"></script>
  <script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js">
  </script>
  <title>首页,硇洲岛指南</title>
</head>

<body>
  <nav class="notice-box flex-c">
    <i class="iconfont icon-laba"></i>
    <h6 class="flex-item title">swiper的跑马灯播放首页的内容和一些通知</h6>
    <i class="iconfont icon-guanbi1 "></i>
  </nav>

  <section class="main-container  ">
    <!-- 搜索框 -->
    <form class="tool-bar head-form col-xs-12">
      <article class="form-item flex-c search-box">
        <input type="text" class="init-address" max="">
      <!--  <i class="back-btn iconfont icon-guanbi"></i>-->
        <i class="search-btn iconfont icon-sousuo"></i>
      </article>
      <!-- 搜索框的详情的内容 -->
      <article class="flex-item poidetail flex-c">
        <span class="flex-item">
          <h3 class="poi-name">暂无姓名</h3>
        </span>
        <span class="poi-btn-array">
          <button class="to-address">到这去</button>
        </span>
        <div class="more-content">

        </div>
      </article>
    </form>
    <ul class="flex-c ul-array right-bar">
      <li class="active">
        <img src="../src/icon/recreation.png">
        <i class="iconfont icon-weibiaoti1"></i>
        <span>娱乐</span>
      </li>
      <li><img src="../src/icon/hotel.png">
        <i class="iconfont icon-zhusuxinxi"></i>
        <span>住宿</span></li>
      <li><img src="../src/icon/traffic.png">
        <i class="iconfont icon-jiaotongyunshu"></i>
        <span>交通</span></li>
      <li><img src="../src/icon/food.png">
        <i class="iconfont icon-meishi"></i>
        <span>美食</span></li>
      <li><img src="../src/icon/shop.png">
        <i class="iconfont icon-chaoshi"></i>
        <span>超市</span></li>
      <li><img src="../src/icon/strategy.png">
        <i class="iconfont icon-gonglve"></i>
        <span>攻略</span></li>
    </ul>
    <!-- 地图的div -->
    <div id="allmap"></div>
  </section>
</body>
<script src="../../../plugin//jquery/jquery.min.js"></script>
<script type="text/javascript" src="../src/index.js"></script>
<script type="text/javascript">
  $(function () {
    active.init();
  });
</script>

</html>