* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: "microsoft yahei";
}

.swiper-container {
	/*  width: 320px;
    height: 480px;*/
	/* width: 100%; */
	height: 100%;
	padding: 0px;
	background: rgba(0,0,0,0);
}
.mainSwiper>.swiper-pagination{
	
left: 10px;
	
width: 10%;
}

.mainSwiper>.swiper-wrapper>.swiper-slide {
	width: 100%;
	height: 100%;
	/* background:url(upload/bg.jpg) no-repeat left top; */
	background-size: 100% 100%;
	background-color: black;
	background-image: linear-gradient(62deg, rgb(142, 197, 252) 0%, #3F51B5 100%);
	overflow: hidden;
}

img {
	display: block;
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	background: #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	width: 10px;
	height: 10px;
	padding: 0px;
	margin-left: -1px !important;
	box-shadow: 0px 0px 3px 4px #ffffffc9;
}

@-webkit-keyframes start {
	0%,
	30% {
		opacity: 0;
		-webkit-transform: translate(0, 10px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(0, -8px);
	}
}

@-moz-keyframes start {
	0%,
	30% {
		opacity: 0;
		-moz-transform: translate(0, 10px);
	}
	60% {
		opacity: 1;
		-moz-transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-moz-transform: translate(0, -8px);
	}
}

@keyframes start {
	0%,
	30% {
		opacity: 0;
		transform: translate(0, 10px);
	}
	60% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, -8px);
	}
}

.ani {
	/* position: absolute; */
}

.txt {
	position: absolute;
}

#array {
	position: absolute;
	z-index: 999;
	-webkit-animation: start 1.5s infinite ease-in-out;
}

.caseSwiper {
	height: auto;
}

.caseSwiper .swiper-slide {
	text-align: center;
	font-size: 18px;
	height: auto;
	/* Center slide text vertically */
}

.mainSwiper .mainImg {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: uk-scale-12;
	animation-name: uk-scale-12;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	/* background-image: url(images/zhongjian1.png); */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	animation-duration: 15s;
}

.swiper-slide .content{
	position: relative;
	background-color: #ffffff45;
	width: 94%;
	height: 94%;
	border-radius: 1%;
	margin: 2% 3%;
	background: hsla(0,0%,100%,.2);
	/* filter: blur(3px); */
	overflow: hidden;
}

.content  .cityImg2{
	   position: absolute;
	   transition: all 1s ease;
	   animation: cityImg-am 8s infinite;
	   top: 30%;
	   z-index: 9;
	   width: 80%;
	   margin-left: 10%;
}
.content .cityImg1{
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 0%;
    top: 10%;
}
@keyframes cityImg-am{
    0%{transform: translateY(0%);}
    25%{transform: translateY(5%);}
    50%{transform: translateY(0%);}
    75%{transform: translateY(-5%);}
    100%{transform: translateY(0%);}
 }
 
 
 
@keyframes uk-scale-12 {
	0% {
		transform: scale(1.2)
	}
	100% {
		transform: scale(1)
	}
}

@-webkit-keyframes uk-rotate {
	0% {
		-webkit-transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(359deg)
	}
}

@keyframes uk-rotate {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(359deg)
	}
}


.lzs-nav{
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0px 0px 0px;
	font-size: 1.8rem;
	font-weight: 600;
	margin-top: 2%;
	padding-right: 3%;
	font-family: "Times New Roman",Georgia,Serif;
}

.sidebar-box{
   position: fixed;
   right: 2%;
   bottom: 5%;
   z-index: 9;
   text-align: center;
}
.sidebar-box li:hover{}
.sidebar-box li{
    width: 4rem;
    height: 4rem;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0.7rem 0rem;
    color: rgba(255,255,255,0.5);
}
.sidebar-box i{
    font-size: 2.5rem;
    font-weight: 600;
}
.biz-box{
    padding: 0rem;
    height: 50%;
}
.biz-box>div{
    height: 100%;
    vertical-align: middle;
    /* display: flex; */
    /* align-items: center; */
    /* -webkit-flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    overflow: hidden;
    transition: all .4s cubic-bezier(.4,0,.2,1);
    padding: 0rem;
}
.biz-box>div .content{transition: all .9s cubic-bezier(.4,0,.2,1) .2s;opacity: 0;background-color: rgba(0,0,0,0);position: absolute;}
.biz-box>div i{
	font-size:9rem;
	font-weight:600;
	z-index: 99;
}
.biz-box>div>*{
	width:100%;
	color: white;
	height: 50%;
	padding: 10% 0%;
}

.biz-box>div:nth-child(1){
	background-image: url(images/image1/pc.jpg);
}
.biz-box>div:nth-child(2){
	background-image: url(images/image1/game.jpg);
}
.biz-box>div:nth-child(3){
	background-image: url(images/image1/h5.jpg);
}
.biz-box>div:nth-child(4){
	background-image: url(images/image1/app.jpg);
}

.biz-box .item::after{
    content: "";
    transition: all .9s cubic-bezier(.4,0,.2,1);
    opacity: 1;
    top: 50%;
    width: 100%;
    height: 100%;
    background: #161a1d;
    opacity: .4;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
}
.biz-box .item:hover:after{
	    content: "";
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    z-index: -1;
	    opacity: 8;
	    background-color: rgba(3, 169, 244, 0.59);
	    transition: all .9s cubic-bezier(.4,0,.2,1);
}
.biz-box .item:hover {
	
color: white;
	
position: relative;
	
z-index: 9999;
	
padding: 50% 0rem;
	
padding-bottom: 20%;
	
transition: all .9s cubic-bezier(.4,0,.2,1);
	
height: 100%;
}
.biz-box .item:hover i{}
.biz-box .item:hover .iconfont:before{
    margin-top: -2rem;
    /* position: relative; */
    transition: all .4s cubic-bezier(.4,0,.2,1);
}
.biz-box .item:hover .content{
    opacity: 1;
    margin-top: -4rem;
}
.biz-box>div .title{}
.biz-box .item:hover .title{
	
margin-bottom: 5rem;
	
margin-top: 1rem;
	
transition: all .9s cubic-bezier(.4,0,.2,1);
}
.swiper1-head-img{
	 animation-name: float;
    -webkit-animation-name: float;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes float {
    0% {
        transform: translatex(0px);
        transform: translatey(0px)   ;
       
    }
    50% {
        transform: translatey(-35px);
        transform: translatex(-35px)   ;
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px)   ;
    }
}

.mainSwiper .swiper-pagination span{
    width: 1.5rem;
    height: 1.1px;
    border-radius: 0%;
    position: relative;
    z-index: 99;
}
.mainSwiper .swiper-pagination .swiper-pagination-bullet-active{
    background: #ffffff;
    width: 3rem;
    box-shadow: 0px 0px 3px 1px #ffffff85;
    margin-left: 0rem !important;
    transition: all .4s cubic-bezier(.4,0,.2,1);
}
.about-swiper  .swiper-pagination{

right: 10px;

left: auto;

bottom: 10px;

width: 20%;

display: inline-block;

min-width: auto;
}
.about-swiper  .swiper-pagination span{
	
border-radius: 50%;
	
width: 0.2rem;
	
height: 0.2rem;
	
background-color: rgb(255, 255, 255);
	
transition: all .4s cubic-bezier(.4,0,.2,1);
}
.about-swiper{
    height: auto;
    padding: 2.5rem 0rem;
}
.about-swiper .swiper-pagination .swiper-pagination-bullet-active{
    width: 1rem;
    height: 1rem;
    box-shadow: 0px 0px 0px;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0);
    position: relative;
    top: 6px;
    transition: all .4s cubic-bezier(.4,0,.2,1);
}
.about-swiper .swiper-pagination .swiper-pagination-bullet-active:after{
	content:"";
	width: 0.2rem;
	height: 0.2rem;
	background-color: white;
	position: absolute;
	top: 50%;
	border-radius: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.product .product-img{
	height: 20rem;
	width: auto;
}
