.back-color{
	background-color: #f1f1f1;
}
header{
	
}
header .header-logo{
	
}
header .header-logo  .img-r{
max-width: 130px;
}
section .banner-wrapper .img-r{height: 440px;background-color: #dfdfdf;}
section.add-module .content .left-img .img-r{

width: 350px;

height: 420px;
}
section.add-module .content .right-list .img-r{
	
}
.section-1 .warp .img-r{
	height: 150px;
	background-color: #dfdfdf;
}
.banner-ad .img-r{
	height:120px;
}
@media (max-width: 768px){
	section.add-module .content .left-img .img-r{
		
width: 100%;
	}
	section .banner-wrapper .img-r{
		height: 250px;
	}
	.section-1 .warp .img-r{
		height:70px;
	}
}
header .header-r .layui-nav{
	    background-color: rgba(0,-0,0,0);
	    padding:  0px;
	    border-radius: 0px;
}
header .header-r .layui-nav .layui-nav-item{
	height:  auto;
	line-height:  initial;
}
header .header-r .layui-nav-bar{
    height: 0px;
}
header .header-r .layui-nav-child{
	top:35px
}
header .header-r .search-form button{
	border: 0px;
	right: 0px;
	left: inherit;
	-webkit-transform: translate(0%,-50%);
	transform: translate(0%,-50%);
}
header .header-r .search-form  input{
	border-right: 0px;
}
.news-array .btn-group button{
    border: 0px;
    color: #808080;
}
