body {
	background-color: #ffffff;
}

.section-content-r {
	margin-right: 0px;
	padding-left: 0px;
}

.section-content-l {background-color: #393d49;}
.list-item .button-array {
	bottom: 0px;
	position: absolute;
	left: 0px;
}

.list-item .img-r {
	width: auto;
	height: 150px;
	max-width: 100%;
}

.list-item {
	background-color: #f1f1f1;
}

.list-item-right {
	background-color: #f1f1f1;
	color: #020203;
	padding: 10px 15px;
}

.list-item-left {
}

.login-box {
	background-color: white;
	max-width: 360px;
	min-height: 360px;
	width: 100%;
	margin: 0 auto;
	padding: 15px 25px;
	border-radius: 7px;
	border: 1px solid #f9f9f9;
	box-shadow: 1px 1px 5px 1px #5b5b5b52;
	box-sizing:  border-box;
	overflow:  hidden;
}


.login-box  .layui-form{
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	position: relative;
}
.login-box  .layui-form.active{
}
.content-group {}

.content-group-item {}

.content-group-item:nth-child(1) {}

.content-group-item:nth-child(2) {}

.content-group-item:nth-child(3) {}