body {
	background-color: #ffffff;
}

.section-content-r {
	margin-right: 0px;
	padding-left: 0px;
}

.section-content-l {background-color: #393d49;}
.list-item .button-array {
	bottom: 0px;
	position: absolute;
	left: 0px;
}

.list-item .img-responsive {
	width: auto;
	height: 150px;
	max-width: 100%;
}

.list-item {
	background-color: #f1f1f1;
}

.list-item-right {
	background-color: #f1f1f1;
	color: #020203;
	padding: 10px 15px;
}

.list-item-left {}

.login-box {
	background-color: white;
	max-width: 380px;
	margin: 0 auto;
	padding: 25px 25px;
	border-radius: 12px;
	box-shadow: 0px 0px 3px 1px #8b8b8b52;
}

.content-group {}

.content-group-item {}

.content-group-item:nth-child(1) {}

.content-group-item:nth-child(2) {}

.content-group-item:nth-child(3) {}